Bottini/SoftBottin/Web References/wsSoftBottin/SoftBottin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetShoesByType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iShoeType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoesByTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShoesByTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRef" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuantityExisting" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuantitySold" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPurchasePrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSalePrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iShoeType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddShoeResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="iIdInsert" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoeDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iIdShoe" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iIdColor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuantityExisting" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iQuantitySold" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoeDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddShoeDetailResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="iIdDetailInsert" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImageShoe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="btFileByte" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="iProductId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bIsPrincipal" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImageShoeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddImageShoeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoeImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoeImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShoeImagesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoes">
        <s:complexType />
      </s:element>
      <s:element name="GetShoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShoesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iShoeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductOutResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesByShoe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesByShoeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFeaturesByShoeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSizesByShoe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSizesByShoeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSizesByShoeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsSizes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoeType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddShoeTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddShoeTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoesTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetShoesTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShoesTypesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoesTypes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoesTypesById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iShoeType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShoesTypesByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetShoesTypesByIdResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsShoesTypes">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditShoeType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditShoeTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditShoeTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteShoeType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteShoeTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteShoeTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetColors">
        <s:complexType />
      </s:element>
      <s:element name="GetColorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetColorsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsColors">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetColorById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iColorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetColorByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetColorByIdResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsColors">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRGB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddColorResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditColor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRGB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditColorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditColorResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteColor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteColorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteColorResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProductsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iProductId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProductByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmailNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmailNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddEmailNewUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsUser">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignInResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckEmailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dsUser">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sErrMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetShoesByTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetShoesByType" />
  </wsdl:message>
  <wsdl:message name="GetShoesByTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetShoesByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="AddShoeSoapIn">
    <wsdl:part name="parameters" element="tns:AddShoe" />
  </wsdl:message>
  <wsdl:message name="AddShoeSoapOut">
    <wsdl:part name="parameters" element="tns:AddShoeResponse" />
  </wsdl:message>
  <wsdl:message name="AddShoeDetailSoapIn">
    <wsdl:part name="parameters" element="tns:AddShoeDetail" />
  </wsdl:message>
  <wsdl:message name="AddShoeDetailSoapOut">
    <wsdl:part name="parameters" element="tns:AddShoeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="AddImageShoeSoapIn">
    <wsdl:part name="parameters" element="tns:AddImageShoe" />
  </wsdl:message>
  <wsdl:message name="AddImageShoeSoapOut">
    <wsdl:part name="parameters" element="tns:AddImageShoeResponse" />
  </wsdl:message>
  <wsdl:message name="GetShoeImagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetShoeImages" />
  </wsdl:message>
  <wsdl:message name="GetShoeImagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetShoeImagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetShoesSoapIn">
    <wsdl:part name="parameters" element="tns:GetShoes" />
  </wsdl:message>
  <wsdl:message name="GetShoesSoapOut">
    <wsdl:part name="parameters" element="tns:GetShoesResponse" />
  </wsdl:message>
  <wsdl:message name="ProductOutSoapIn">
    <wsdl:part name="parameters" element="tns:ProductOut" />
  </wsdl:message>
  <wsdl:message name="ProductOutSoapOut">
    <wsdl:part name="parameters" element="tns:ProductOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesByShoeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeaturesByShoe" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesByShoeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeaturesByShoeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSizesByShoeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSizesByShoe" />
  </wsdl:message>
  <wsdl:message name="GetSizesByShoeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSizesByShoeResponse" />
  </wsdl:message>
  <wsdl:message name="AddShoeTypeSoapIn">
    <wsdl:part name="parameters" element="tns:AddShoeType" />
  </wsdl:message>
  <wsdl:message name="AddShoeTypeSoapOut">
    <wsdl:part name="parameters" element="tns:AddShoeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetShoesTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetShoesTypes" />
  </wsdl:message>
  <wsdl:message name="GetShoesTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetShoesTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetShoesTypesByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetShoesTypesById" />
  </wsdl:message>
  <wsdl:message name="GetShoesTypesByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetShoesTypesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="EditShoeTypeSoapIn">
    <wsdl:part name="parameters" element="tns:EditShoeType" />
  </wsdl:message>
  <wsdl:message name="EditShoeTypeSoapOut">
    <wsdl:part name="parameters" element="tns:EditShoeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteShoeTypeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteShoeType" />
  </wsdl:message>
  <wsdl:message name="DeleteShoeTypeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteShoeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetColorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetColors" />
  </wsdl:message>
  <wsdl:message name="GetColorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetColorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetColorByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetColorById" />
  </wsdl:message>
  <wsdl:message name="GetColorByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetColorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddColorSoapIn">
    <wsdl:part name="parameters" element="tns:AddColor" />
  </wsdl:message>
  <wsdl:message name="AddColorSoapOut">
    <wsdl:part name="parameters" element="tns:AddColorResponse" />
  </wsdl:message>
  <wsdl:message name="EditColorSoapIn">
    <wsdl:part name="parameters" element="tns:EditColor" />
  </wsdl:message>
  <wsdl:message name="EditColorSoapOut">
    <wsdl:part name="parameters" element="tns:EditColorResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteColorSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteColor" />
  </wsdl:message>
  <wsdl:message name="DeleteColorSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteColorResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="GetProductByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmailNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmailNewUser" />
  </wsdl:message>
  <wsdl:message name="AddEmailNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmailNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="SoftBottinSoap">
    <wsdl:operation name="GetShoesByType">
      <wsdl:input message="tns:GetShoesByTypeSoapIn" />
      <wsdl:output message="tns:GetShoesByTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddShoe">
      <wsdl:input message="tns:AddShoeSoapIn" />
      <wsdl:output message="tns:AddShoeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddShoeDetail">
      <wsdl:input message="tns:AddShoeDetailSoapIn" />
      <wsdl:output message="tns:AddShoeDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddImageShoe">
      <wsdl:input message="tns:AddImageShoeSoapIn" />
      <wsdl:output message="tns:AddImageShoeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShoeImages">
      <wsdl:input message="tns:GetShoeImagesSoapIn" />
      <wsdl:output message="tns:GetShoeImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShoes">
      <wsdl:input message="tns:GetShoesSoapIn" />
      <wsdl:output message="tns:GetShoesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductOut">
      <wsdl:input message="tns:ProductOutSoapIn" />
      <wsdl:output message="tns:ProductOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesByShoe">
      <wsdl:input message="tns:GetFeaturesByShoeSoapIn" />
      <wsdl:output message="tns:GetFeaturesByShoeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSizesByShoe">
      <wsdl:input message="tns:GetSizesByShoeSoapIn" />
      <wsdl:output message="tns:GetSizesByShoeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddShoeType">
      <wsdl:input message="tns:AddShoeTypeSoapIn" />
      <wsdl:output message="tns:AddShoeTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypes">
      <wsdl:input message="tns:GetShoesTypesSoapIn" />
      <wsdl:output message="tns:GetShoesTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypesById">
      <wsdl:input message="tns:GetShoesTypesByIdSoapIn" />
      <wsdl:output message="tns:GetShoesTypesByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditShoeType">
      <wsdl:input message="tns:EditShoeTypeSoapIn" />
      <wsdl:output message="tns:EditShoeTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShoeType">
      <wsdl:input message="tns:DeleteShoeTypeSoapIn" />
      <wsdl:output message="tns:DeleteShoeTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColors">
      <wsdl:input message="tns:GetColorsSoapIn" />
      <wsdl:output message="tns:GetColorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColorById">
      <wsdl:input message="tns:GetColorByIdSoapIn" />
      <wsdl:output message="tns:GetColorByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <wsdl:input message="tns:AddColorSoapIn" />
      <wsdl:output message="tns:AddColorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditColor">
      <wsdl:input message="tns:EditColorSoapIn" />
      <wsdl:output message="tns:EditColorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteColor">
      <wsdl:input message="tns:DeleteColorSoapIn" />
      <wsdl:output message="tns:DeleteColorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input message="tns:GetProductsSoapIn" />
      <wsdl:output message="tns:GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input message="tns:GetProductByIdSoapIn" />
      <wsdl:output message="tns:GetProductByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmailNewUser">
      <wsdl:input message="tns:AddEmailNewUserSoapIn" />
      <wsdl:output message="tns:AddEmailNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <wsdl:input message="tns:CheckEmailSoapIn" />
      <wsdl:output message="tns:CheckEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoftBottinSoap" type="tns:SoftBottinSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShoesByType">
      <soap:operation soapAction="http://tempuri.org/GetShoesByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoe">
      <soap:operation soapAction="http://tempuri.org/AddShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoeDetail">
      <soap:operation soapAction="http://tempuri.org/AddShoeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImageShoe">
      <soap:operation soapAction="http://tempuri.org/AddImageShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoeImages">
      <soap:operation soapAction="http://tempuri.org/GetShoeImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoes">
      <soap:operation soapAction="http://tempuri.org/GetShoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductOut">
      <soap:operation soapAction="http://tempuri.org/ProductOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesByShoe">
      <soap:operation soapAction="http://tempuri.org/GetFeaturesByShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSizesByShoe">
      <soap:operation soapAction="http://tempuri.org/GetSizesByShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoeType">
      <soap:operation soapAction="http://tempuri.org/AddShoeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypes">
      <soap:operation soapAction="http://tempuri.org/GetShoesTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypesById">
      <soap:operation soapAction="http://tempuri.org/GetShoesTypesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditShoeType">
      <soap:operation soapAction="http://tempuri.org/EditShoeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShoeType">
      <soap:operation soapAction="http://tempuri.org/DeleteShoeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColors">
      <soap:operation soapAction="http://tempuri.org/GetColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColorById">
      <soap:operation soapAction="http://tempuri.org/GetColorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <soap:operation soapAction="http://tempuri.org/AddColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditColor">
      <soap:operation soapAction="http://tempuri.org/EditColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteColor">
      <soap:operation soapAction="http://tempuri.org/DeleteColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmailNewUser">
      <soap:operation soapAction="http://tempuri.org/AddEmailNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoftBottinSoap12" type="tns:SoftBottinSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShoesByType">
      <soap12:operation soapAction="http://tempuri.org/GetShoesByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoe">
      <soap12:operation soapAction="http://tempuri.org/AddShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoeDetail">
      <soap12:operation soapAction="http://tempuri.org/AddShoeDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImageShoe">
      <soap12:operation soapAction="http://tempuri.org/AddImageShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoeImages">
      <soap12:operation soapAction="http://tempuri.org/GetShoeImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoes">
      <soap12:operation soapAction="http://tempuri.org/GetShoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductOut">
      <soap12:operation soapAction="http://tempuri.org/ProductOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesByShoe">
      <soap12:operation soapAction="http://tempuri.org/GetFeaturesByShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSizesByShoe">
      <soap12:operation soapAction="http://tempuri.org/GetSizesByShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoeType">
      <soap12:operation soapAction="http://tempuri.org/AddShoeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypes">
      <soap12:operation soapAction="http://tempuri.org/GetShoesTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoesTypesById">
      <soap12:operation soapAction="http://tempuri.org/GetShoesTypesById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditShoeType">
      <soap12:operation soapAction="http://tempuri.org/EditShoeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShoeType">
      <soap12:operation soapAction="http://tempuri.org/DeleteShoeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColors">
      <soap12:operation soapAction="http://tempuri.org/GetColors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColorById">
      <soap12:operation soapAction="http://tempuri.org/GetColorById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <soap12:operation soapAction="http://tempuri.org/AddColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditColor">
      <soap12:operation soapAction="http://tempuri.org/EditColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteColor">
      <soap12:operation soapAction="http://tempuri.org/DeleteColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap12:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmailNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddEmailNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap12:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoftBottin">
    <wsdl:port name="SoftBottinSoap" binding="tns:SoftBottinSoap">
      <soap:address location="http://www.misbottini.somee.com/SoftBottinWS/SoftBottin.asmx" />
    </wsdl:port>
    <wsdl:port name="SoftBottinSoap12" binding="tns:SoftBottinSoap12">
      <soap12:address location="http://www.misbottini.somee.com/SoftBottinWS/SoftBottin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>